<section class="headservice-section">
  <div class="background-overlay"></div>

  <div class="content-container">
    <div class="section-header">
      <h2 class="section-tag">Nos Services</h2>
    </div>

    <div class="main-content">
      <h1 class="main-title">L'excellence au cœur de votre succès</h1>

      <p class="description">
        Dans un monde en constante évolution, vos besoins sont multiples. C'est
        pourquoi chez
        <span class="company-highlight">Tera Tech Solutions</span> nous avons
        développé une offre de services complète, conçue pour vous accompagner à
        chaque étape de votre projet.
      </p>
    </div>
  </div>
</section>
