<section class="hero-section">
  <div class="hero-background"></div>
  <div class="hero-overlay"></div>

  <div class="hero-container">
    <div class="hero-content">
      <div class="hero-text">
        <h1 class="hero-title">
          Tera Tech Solutions : Technologie, Équipement, Terrassement,
          Transport,Video surveillance
        </h1>

        <p class="hero-description">
          De la conception à la réalisation,
          <strong>Tera Tech Solutions</strong> optimise vos processus
          informatiques, équipe vos teams, concrétise vos chantiers et sécurise
          vos livraisons.
        </p>

        <button class="hero-btn">Contactez - nous</button>
      </div>

      <div class="hero-images">
        <img
          src="/Assets/Hero-section/Group 37420 (2).svg"
          alt="Services Tera Tech Solutions"
          class="mosaic-image"
        />
      </div>
    </div>
  </div>
</section>
